<span id="verifyDetails">
    <div class="control-group">
        <label class="control-label">Select verify type</label>
        <div class="controls controls-row">
            <select name="check[verify]" value="" class="span2">
                <option value="">count</option>
                <option value="">exist</option>
                <option value="">length</option>
                <option value="">equal</option>
            </select>
            <button name="add" type="button" class="btn btn-success">Add</button>
            <a target="_blank" href="/dashboard/verify/sample">使用方法</a>
        </div>

    </div>
</span>