<fieldset>
    <div class="control-group">
        <label class="control-label">Phone Number</label>
        <div class="controls">
            <input type="text" name="check[phone]" value="<%= check.getPollerParam('phone') || '' %>" class="span8" placeholder="Input receiver phone number"/>
        </div>
    </div>
</fieldset>